.archive-posts {
    width: 100%;
    font-size: 16px;
    transition: .6s cubic-bezier(0.03, 0.69, 0.36, 1);
}

.archive-year {
    margin-top: 40px;
    -webkit-filter: blur(5px) opacity(0);
    filter: brightness(1) contrast(1) blur(4px) opacity(0);
    transform: translateY(60px);
    transition: transform 1s cubic-bezier(0, 1.1, .6, 1), filter .85s cubic-bezier(0, 1.1, .6, 1);
}

.archive-year:not(:last-of-type) {
    border-bottom: 2px solid var(--border);
}

.archive-year.loaded {
    -webkit-filter: blur(0) opacity(1);
    filter: brightness(1) contrast(1) blur(0) opacity(1);
    transform: translateY(0);
}

.archive-month {
    display: flex;
    align-items: flex-start;
    padding: 10px 0;
    -webkit-filter: blur(5px) opacity(0);
    filter: brightness(1) contrast(1) blur(4px) opacity(0);
    transform: translateY(60px);
    transition: transform 1s cubic-bezier(0, 1.1, .6, 1), filter .85s cubic-bezier(0, 1.1, .6, 1);
}

.archive-month:not(:last-of-type) {
    border-bottom: 1px solid var(--border);
}

.archive-month.loaded {
    -webkit-filter: blur(0) opacity(1);
    filter: brightness(1) contrast(1) blur(0) opacity(1);
    transform: translateY(0);
}

.archive-year.loaded .archive-year-header {
    filter: brightness(1) contrast(1) blur(0) opacity(1);
}

.archive-month-header {
    margin: 25px 0;
    width: 200px;
    -webkit-filter: blur(5px) opacity(0);
    filter: brightness(1) contrast(1) blur(5px) opacity(0);
    transition: filter .85s cubic-bezier(0, .5, 1, 1);
}

.archive-month.loaded .archive-month-header {
    filter: brightness(1) contrast(1) blur(0) opacity(1);
}


.archive-entry {
    position: relative;
    padding: 5px;
    margin: 10px 0;
    transition: all .85s cubic-bezier(0, .5, .5, 1);
    border-radius: var(--radius_m);
}

.archive-entry.loaded:hover {
    transform: scale(1.03);
    background: var(--entry);
    border-radius: 18px;
}

.archive-entry-title {
    margin: 5px 0;
    font-weight: 400;
}

.archive-count,
.archive-meta {
    color: var(--secondary);
    font-size: 14px;
}

.archive-meta {
    display: flex;
}
