.nav {
    display: flex;
    flex-wrap: wrap;
    max-width: calc(var(--nav-width) + var(--gap) * 2);
    margin-inline-start: auto;
    margin-inline-end: auto;
    line-height: clamp(40px, 4vw, 60px);
    /* line-height: var(--header-height); */
    justify-content: space-around;
    /*margin-top: clamp(5px, 1vw, 10px);*/
}

.nav a {
    display: block;
}

.logo,
#menu {
    display: flex;
    margin: auto;
}

.logo {
    flex-wrap: wrap-reverse;
      justify-content: space-around;
}

.logo a {
    /*font-size: 24px;*/
    font-size: clamp(25px, 1.5vw, 26px);
    font-weight: 700;
}

.logo a img, .logo a svg {
    display: inline;
    vertical-align: middle;
    pointer-events: none;
    transform: translate(0, -8%);
    border-radius: 6px;
    margin-inline-end: 8px;
}

button#theme-toggle {
    font-size: 26px;
    margin: auto 4px;
}

body.dark #moon {
    vertical-align: middle;
    display: none;
}

body:not(.dark) #sun {
    display: none;
}

#menu {
    list-style: none;
    word-break: keep-all;
    overflow-x: auto;
    white-space: nowrap;
}

#menu li + li {
    margin-inline-start: 24px;
}

#menu a {
    /*font-size: 17px;*/
    font-size: clamp(17px, 1.2vw, 18px);
}

#menu .active {
    font-weight: 500;
    border-bottom: 2px solid currentColor;
    color: var(--accent);
}

.lang-switch li,
.lang-switch ul,
.logo-switches {
    display: inline-flex;
    margin: auto 4px;
}

.lang-switch {
    display: flex;
    flex-wrap: inherit;
}

.lang-switch a {
    margin: auto 3px;
    font-size: 16px;
    font-weight: 500;
}

.logo-switches {
    flex-wrap: inherit;
}
